.navbar {
    
    navbar-brand {
        color: lightcyan;
    }
    li, a, nav-link {
        color: teal;
    }
    .active { 
        color: yellow;
    }
    
}

#rollnav{
    position: fixed;
    top: 0%;
    z-index: 3;
}

.form-control{
   
    height: 40px;
    margin: auto;
}