.navbar {
    navbar-brand {
        color: lightcyan;
    }
    li, a, nav-link {
        color: teal;
    }
    .active { 
        color: yellow;
    }

    /* height: 70px; */
}

.form-control{
   
    height: 40px;
    margin: auto;
}