.btn{
    margin: 10px;
    height: 40px;
    display: none;
}

.card{
    margin-top: 10px;
    height: 400px;
    overflow: hidden;

}

.card-img-top{
   height: 30%;
   object-fit: cover;
   object-position: center;
}

.card-body {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: scale(1.01);
    transition: 500ms;
    box-shadow: 4px 4px 2px 2px rgb(194, 191, 191), -4px -4px 2px 2px rgb(194, 191, 191);
}

.btn:hover{
     transform: scale(1.01);
    transition: 500ms;
    box-shadow: 4px 4px 2px 2px rgb(194, 191, 191);
}